* {
  box-sizing: border-box;
  transition: 1s;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
:root {
  --main-color: #717fe0;
  --main-second-color: #888;
}
.fa-chevron-up {
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 0;
  padding: 15px;
  background-color: var(--main-color);
  opacity: 0;
  transition: 0.4s;
  cursor: pointer;
}
/* Start Header */
.header-parent .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 80px;
  left: 0;
  padding: 0 20px;
}
.header-parent .header .logo {
  flex-basis: 15%;
}
.header-parent .header .logo h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
}
.header-parent .header .logo h4 span:first-of-type {
  margin-right: 5px;
}
.header-parent .header .logo h4 span:last-of-type {
  font-weight: normal;
}
.header-parent .header .navbar {
  flex-basis: 70%;
}
.header-parent .header .navbar ul {
  margin: 0;
  list-style: none;
  display: flex;
}
.header-parent .header .navbar ul li {
  padding: 15px;
}
.header-parent .header .navbar ul .home {
  position: relative;
}
@media (min-width: 992px) {
  .header-parent .header .navbar ul .home ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 5px;
    left: 0;
    top: 47px;
    background-color: white;
    box-shadow: 0px 0px 1px;
    display: none;
  }
}
.header-parent .header .navbar ul .home:hover ul {
  display: block;
}
.header-parent .header .navbar ul .home ul li {
  width: 130px;
  padding: 8px;
  margin-bottom: 8px;
}
.header-parent .header .navbar ul li a {
  text-decoration: none;
  color: var(--main-second-color);
  transition: 0.3s;
}
.header-parent .header .navbar ul li a:hover {
  color: var(--main-color);
}
.header-parent .header .navbar ul .hot {
  position: relative;
}
.header-parent .header .navbar ul .hot:after {
  content: "Hot";
  position: absolute;
  top: -5px;
  right: 0;
  width: fit-content;
  height: fit-content;
  background-color: red;
  padding: 3px 8px;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  font-size: 8px;
}
.header-parent .header .icons {
  display: flex;
  margin-right: 40px;
}

.header-parent .header .icons .icon1,
.header-parent .header .icons .icon2,
.header-parent .header .icons .icon3,
.header-parent .header .icons .icon4 {
  display: flex;
  align-items: center;
  padding: 19px;
}
.header-parent .header .icons .icon2 {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  height: 100%;
}
.header-parent .header .icons .icon3 {
  display: none;
}
.header-parent .header .icons .icon4 {
  display: block;
  color: #222;
}
.header-parent .header .icons i {
  font-size: 22px;
  color: var(--main-second-color);
  transition: 0.3s;
}
.header-parent .header .icons i:hover {
  color: var(--main-color);
  cursor: pointer;
}
.fa-shopping-cart,
.icons .fa-heart {
  position: relative;
}
.fa-shopping-cart:after,
.icons .fa-heart:after {
  position: absolute;
  top: -13px;
  right: -11px;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  font-size: 16px;
  color: white;
  text-align: center;
}
.fa-shopping-cart:after {
  content: "2";
}
.icons .fa-heart:after {
  content: "0";
}
.search {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  opacity: 0.9;
  transition: 0.5s;
  transform: translateY(-100%);
}
.search-div {
  transform: translateY(0);
}
.search .input {
  width: 80%;
  height: fit-content;
  opacity: 1;
  position: relative;
}
.search .input input {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  outline: none;
}
.search .input .fa-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  transition: 0.3s;
  opacity: 1;
}
.search .input img {
  position: absolute;
  top: -52px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.search .input .fa-search:hover {
  color: var(--main-color);
  cursor: pointer;
}
.shop {
  height: 100vh;
  width: 350px;
  padding: 40px;
  position: fixed;
  top: 0;
  right: -350px;
  background-color: white;
  box-shadow: inset 0px 0px 1px 0px;
  transition: 0.5s;
  z-index: 5;
}
.shop .myheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.shop .myheader i {
  font-size: 24px;
  transition: 0.3s;
}
.shop .myheader i:hover {
  cursor: pointer;
  color: var(--main-color);
}
.shop .myheader h3 {
  margin: 0;
}
.shop .one {
  display: flex;
  color: var(--main-second-color);
}
.shop .one img {
  margin-right: 20px;
  position: relative;
}
.overlay:before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.shop .one a {
  text-decoration: none;
  color: var(--main-second-color);
  transition: 0.3s;
}
.shop .one a:hover {
  color: var(--main-color);
}
.shop .pirce {
  margin-top: 35vh;
  font-size: 22px;
}
.shop .pay button {
  background-color: #222;
  padding: 10px 20px;
  margin-right: 3px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
.shop .pay button:hover {
  background-color: var(--main-color);
}
.shop .pay button a {
  text-decoration: none;
  color: white;
}
/* Start Bars Div */
.bars3 {
  height: 100vh;
  width: 350px;
  padding: 40px;
  position: fixed;
  top: 0;
  right: -350px;
  background-color: white;
  box-shadow: inset 0px 0px 1px 0px;
  transition: 0.5s;
  z-index: 5;
  overflow-y: scroll;
}
.bars3 .myheader {
  display: flex;
  justify-content: flex-end;
}
.bars3 .myheader i {
  font-size: 26px;
  transition: 0.4s;
}
.bars3 .myheader i:hover {
  cursor: pointer;
  color: #717fe0;
}
.bars3 .links ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.bars3 .links ul li a {
  text-decoration: none;
  color: #333;
  margin-bottom: 15px;
  display: block;
  transition: 0.4s;
}
.bars3 .links ul li a:hover {
  color: #717fe0;
}
.bars3 .photo {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.bars3 .photo .image {
  width: 32%;
  position: relative;
  transition: 0.5s;
}
.bars3 .photo .image img {
  width: 100%;
}
.bars3 .photo .image:hover:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #717fe0ba;
  transition: 0.4s;
  z-index: 777;
  cursor: pointer;
}
.bars3 .about-us {
  margin-top: 40px;
}
.bars3 .about-us p {
  color: #333;
}
@media (max-width: 991px) {
  .header-parent .header .navbar ul {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 71px;
    background-color: var(--main-color);
    transition: 0.4s;
    height: 0;
    overflow: hidden;
  }
  .header-parent .header .navbar ul li a:hover {
    color: white;
  }
  .header-parent .header .navbar ul .home:hover {
    padding-bottom: 150px;
  }
  .header-parent .header .navbar ul .home ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 5px;
    left: 0;
    top: 47px;
    background-color: white;
    box-shadow: 0px 0px 1px;
    display: none;
    height: fit-content;
    z-index: 7;
  }
  .header-parent .header .navbar ul .home ul a {
    color: black;
  }
  .header-parent .header .navbar ul .home ul a:hover {
    color: #717fe0;
  }
  .header-parent .header .navbar .height {
    height: 300px;
  }
  .header-parent .header .navbar ul li a {
    color: white;
  }
  .header-parent .header .icons {
    flex-basis: 15%;
  }
  .header-parent .header .icons .icon3 {
    display: block;
    margin-left: 15px;
  }
  .header-parent .header .icons .icon4 {
    display: none;
  }
}
/* Swiper */
.swiper {
  width: 100%;
  height: 103%;
  padding-top: 86px;
}
.swiper-parent .padding {
  padding-top: 386px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Start Cards */
.cards-parent .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
}
.cards-parent .cards .card {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 0px 14px -5px;
}
.cards-parent .cards .card:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #717fe0ba;
  transition: 0.4s;
}
.cards-parent .cards .card div {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
  transition: 0.4s;
}
.cards-parent .cards .card:hover div h1,
.cards-parent .cards .card:hover div p {
  color: white;
}
.cards-parent .cards .card div p {
  color: var(--main-second-color);
}
.cards-parent .cards .card div a {
  position: absolute;
  bottom: -50%;
  width: 95px !important;
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  text-transform: uppercase;
  opacity: 0;
  transition: 1s;
}
.cards-parent .cards .card:hover a {
  opacity: 1;
}
.cards-parent .cards .card img {
  width: 100%;
}
/* Start Product */
.product-parent {
  margin-top: 100px;
}
.product-parent .product h1 {
  text-transform: uppercase;
  text-align: center;
}
.product-parent .product .select {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.product-parent .product .select .ul ul {
  display: flex;
  list-style: none;
  gap: 17px;
  padding-left: 0;
}
.product-parent .product .select .ul ul li {
  color: var(--main-second-color);
  transition: 0.5s;
}
.product-parent .product .select .ul ul li:hover {
  border-bottom: 1px solid rgb(145, 109, 109);
  color: rgb(145, 109, 109);
  cursor: pointer;
}
.product-parent .product .select .ul ul .ul-click {
  border-bottom: 1px solid rgb(145, 109, 109);
  color: rgb(145, 109, 109);
}
@media (min-width: 991px) {
  .product-parent .product .select .filter-search {
    justify-self: flex-end;
  }
}
@media (max-width: 768px) {
  .product-parent .product .select {
    grid-template-columns: 100%;
  }
  .product-parent .product .select .ul ul {
    gap: 11px;
  }
}
.product-parent .all-product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.product-parent .all-product .card .image {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 14px -5px;
}
.product-parent .all-product .card .image::after {
  content: "Quick View";
  position: absolute;
  padding: 10px 30px;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  border-radius: 25px;
  transition: 0.5s;
}
.product-parent .all-product .card .image:hover::after {
  bottom: 25px;
}
.product-parent .all-product .card img {
  width: 100%;
  transition: 0.5s;
}
.product-parent .all-product .card .image:hover img {
  transform: scale(1.1);
}
.product-parent .all-product .card .like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-parent .all-product .card .like i {
  transition: 0.5s;
}
.product-parent .all-product .card .like i:hover {
  color: #717fe0;
  cursor: pointer;
}
.product-parent .all-product .card .like p {
  color: var(--main-second-color);
}
.product-parent .all-product .card .like p:hover {
  color: var(--main-color);
  cursor: pointer;
}
.product-parent .load-more {
  text-align: center;
  margin-top: 20px;
}
.product-parent .button {
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.product-parent .button:hover {
  color: white;
  background-color: black;
}
.blog-parent .blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.blog-parent .blog .one .image {
  overflow: hidden;
}
.blog-parent .blog .one img {
  width: 100%;
}
.blog-parent .blog .one .image:hover img {
  cursor: pointer;
  transform: scale(1.1);
}
.blog-parent .blog .one p span {
  color: var(--main-second-color);
}
.blog-parent .blog .one a {
  text-decoration: none;
  color: rgb(78 78 78);
  transition: 0.4s;
}
.blog-parent .blog .one a:hover {
  color: #717fe0;
}
.blog-parent .blog .one p:last-of-type {
  color: #888;
}
/* Start Footer */
.footer-parent {
  margin-top: 150px;
  background-color: #222;
  padding: 50px;
}
.footer-parent .footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.footer-parent .footer h1 {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  margin-bottom: 40px;
}
.footer-parent .footer .one li {
  list-style: none;
  margin-bottom: 15px;
}
.footer-parent .footer .one p {
  color: #b2b2b2;
}
.footer-parent .footer .one li a {
  text-decoration: none;
  color: #b2b2b2;
  transition: 0.5s;
}
.footer-parent .footer .one li a:hover {
  color: #717fe0;
}
.footer-parent .footer .one div i {
  color: #b2b2b2;
  margin-left: 10px;
  margin-top: 20px;
  transition: 0.4s;
}
.footer-parent .footer .one div i:hover {
  cursor: pointer;
  color: #717fe0;
}
.footer-parent .footer .one form input:first-of-type {
  border: none;
  border-bottom: 1px solid #b2b2b2;
  outline: none;
  background-color: transparent;
  padding: 15px 0;
  margin-bottom: 25px;
  caret-color: #b2b2b2;
  color: #b2b2b2;
}
::placeholder {
  color: #b2b2b2;
}
.footer-parent .footer .one form input:last-of-type {
  text-transform: uppercase;
  background-color: #717fe0;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  color: white;
  transition: 0.5s;
}
.footer-parent .footer .one form input:last-of-type:hover {
  color: #717fe0;
  background-color: white;
  cursor: pointer;
}
.footer-parent .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #b2b2b2;
}
.footer-parent .copyright span.color {
  color: #717fe0;
  transition: 0.5s;
}
.footer-parent .copyright span.color:hover {
  opacity: 0.7;
  cursor: pointer;
}

.local-time {
  position: fixed;
  z-index: 44;
  bottom: 0;
  left: 20px;
  font-size: 22px;
  color: #717fe0;
}

.night-mode {
  position: fixed;
  z-index: 99;
  width: 50px;
  height: 20px;
  background-color: yellow;
  border-radius: 10px;
  right: 0;
  top: 1%;
}
.night-mode .mode {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2px;
  cursor: pointer;
  width: 100%;
}
.night-mode .mode span {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #717fe0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: 0.5s;
}
.night-mode .mode .left {
  left: 30px;
}
